# environment
.env
venv/

# python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# jupyter
.ipynb_checkpoints/

# results (optional - commit these if you want to save your experiment results)
results/raw_logs/

# os stuff
.DS_Store
Thumbs.db